# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Build output
dist/
build/
tmp/
out/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Frontend specific
public/build/
